ul{
    display: flex;
}
li{
    list-style:none;
    font-size:12px;
    color:rgba(255,255,255,0.5);
    padding:5px 10px;
}
.container{
    display:flex;
    justify-content:center;
    align-itmes:center;
    margin-top:5%;
}
li:hover{
    text-decoration:underline;
}
.ftr{
    font-size:12px; 
    color:rgba(255,255,255,0.5);
    text-align:center;
}
.main{
    height:20vh;
}