*{
    color:white;
}
body{
    background-color:rgb(12, 16, 20);
}
.mainPage{
    width:100%;
    height:100%;
    display:flex;
    margin-top:5%;
}
.box2{
    margin-top:2%;
}
input{
    width:90%;
    height:35px;
    margin:2%;
    background-color:rgba(255,255,255,0.1);
    border:0.5px solid rgba(255,255,255,0.5);
    border-radius:3px;
}
button{
    width:92%;
    height:30px;
    background-color:#405DE6;
    border:none;
    border-radius:8px;
    margin:4%;
}
a{
    text-decoration:none;
    color:#405DE6;
}
.img{
    margin-bottom:5%;
}